.container {
    margin-top: 5vh;
    font-family: arial;
    font-size: 24px;
    width: 100vw;
    height: 75vh;
  }

  *{
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;

  }

  .reload{
    margin-top: 1vh;
    height: 6.5vh;
    width: 6.5vw;
    border-radius: 999em 999em 999em 999em;
    background-color: orange;
    font-weight: bold;
  }
  .reload:hover{
    background-color: rgb(255, 198, 93);
  }


  @media screen and (max-width: 1400px) {
    .reload{
      width: 12vw;
    }
  }
  @media screen and (max-width: 500px) {
    .reload{
      width: 30vw;
    }
  }

  @media screen and (max-width: 700px) {
    .reload{
      width: 50vw;
    }
  }
  @media screen and (max-width: 1000px) {
    .reload{
      width: 15vw;
    }
  }




  @media screen and (max-height: 1400px) {
    .reload{
      height: 10vh;
    }
  }
  @media screen and (max-height: 500px) {
    .reload{
      height: 14vh;
    }
  }

  @media screen and (max-height: 700px) {
    .reload{
      height: 12vh;
    }
  }
  @media screen and (max-height: 1000px) {
    .reload{
      height: 11vh;
    }
  }