html{
  --big: 40px;
  font-weight: lighter;
  background-color: #1F2833;
}

html, body{
  margin: 0;
  height: 94%;
}
.mainbody{
  color: white;
  font-size: 38px;
  font-family: Helvetica;
}
.czrf{
  width: var(--big);
  height: var(--big);
}
h1{
    font-weight: lighter;
    
}
body{
  font-family: Arial;
  font-weight: lighter;
  opacity: 0.9;
  padding: 40px 0;
  text-align: center;
  background-color: #1F2833;
  color: #fff;
  width: auto;
}
@keyframes blikani {
    50% {opacity: 1;}
}
.flat{
  opacity: 0;
  color: hsl(0, 0%, 85%);
  display: inline;
  animation-name: blikani;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
}
.flat:nth-child(3){
  animation-delay: 200ms;
}
.flat:nth-child(4){
  animation-delay: 400ms;
}
.flat:hover{
  cursor: default;
}
#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}
.head {
	display: table;
	margin: 0 auto;
  bottom: 0;
  left: 0;
  padding: 0%;
  position: fixed;
  background-color: #0B0C10;
  height: 8%;
  width: 100%;
  text-align: center;
}
nav ul {
	min-width: 696px;
	list-style: none;
  border: 0;
  padding: 15px 0;
  text-align: center;
  color: #505f9c;
  margin-bottom: 7px;
}
nav	li {
		display: inline;
    margin-left: 25px;
    margin-right: 25px;
    color: #505f9c;
	}
.sidebar{    
  font-weight: bold;
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
}
  .sidebar:hover {
  font-size: 20px; 
  color:#66FCF1; 
  text-decoration:none; 
  cursor:pointer;  
}
.contacts{
  font-size: 30px;
}
.discord{
  color: #fff;
  list-style: none;
}
.links{
  text-decoration: none !important;
color: inherit;
color: #6562ff;
  font-weight: bold;
}
.links:hover{
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}
.sidebbr{  
  all: unset;
}
.sidebbr:active {  
color: green;
}
/* .welcome{
  display: none;
}
@media screen and (max-width: 900px) {
  .welcome {
      clear: both;
      display: block;
      float: left;
      margin: 10px auto 5px 50px;
      width: 28%;
  }
  .head,.mainbody{
    display: none;
  }
} */
.home{
  font-size: 22px;
  color: #6462ee;
}
.home:hover{
  font-size: 22px;
}
.mail::before{
  content: url(../res/em48.png);
  margin-right: 0.5em;
}
.contList li{
  list-style: none;
  margin-bottom: 1em;
}
.contList{
  font-size: 32px;
}
.git::before{
  /* content: url(../res/github-mark-white.png); */
  content: url(../res/github-mark-white2.png);
  margin-right: 0.5em;
}
.discord::before {
  content: url(../res/Discord-logo-blurple_40.png);
  margin-right: 0.5em;
}

.whoami{
  font-size: 30px;
  margin-bottom: 50px;
}
.lineargr{
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(to left top, #a4004f, #a93277, #a6519c, #9d6eba, #9188d2, #829be3, #74aef0, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

  animation: rotac 7s alternate infinite;
}

@keyframes rotac {
  0%{
    filter: hue-rotate(279deg);
  }
  50%{
    filter: hue-rotate(197deg);
  }
  100%{
    filter: hue-rotate(12deg);
  }
}



@media screen and (max-width: 900px) {
  * {
    font-size: 20px;
  }
  .whoami{
    font-size: 26px;
  }
  .lineargr{
    font-size: 30px;
  }
  .head{
    padding-top: 5%;
    height: 20%;
  }
  .head ul{
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  nav li{
    width: 50%;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
  }
  .sidebar{
    flex: 100%;
  }
  .czrf{
    height: 20px;
    width: auto;
  }
  p{
    margin: 5%;
  }
}

.aboutMe{
    
    color: yellow;
    text-shadow: 0 0 15px yellow, 0 0 9px yellow;
    animation: glow 2s linear infinite;
}
@keyframes glow {
  0%{
      filter: hue-rotate(0deg);
  }
  100%{
      filter: hue-rotate(360deg);
  }
}
