*{
  padding: 0;
  margin: 0;
  border: 0;
}

html{
  --big: 40px;
  font-weight: lighter;

}

html, body{
  margin: 0;
  height: 100%;
  padding: 0;
  border: 0;
}
.mainbody{
  color: white;
  font-size: 38px;
  font-family: Helvetica;
}
h1{
    font-weight: lighter;
}
body{
  font-family: Arial;
  font-weight: lighter;
  opacity: 0.9;
  /* padding: 40px 0; */
  text-align: center;
  background-color: #1F2833;
  
  color: #fff;
  width: auto;
}
.welcome{
  display: none;
}
@media screen and (max-width: 900px) {
  .welcome {
      clear: both;
      display: block;
      float: left;
      margin: 10px auto 5px 50px;
      width: 28%;
  }
  .head,.mainbody{
    display: none;
  }
}

.bgSakuna{
  position: absolute;
  background-image: url(https://pbs.twimg.com/media/Ga95qYpaMAAWEgh?format=jpg&name=large);
  /* background-repeat: repeat; */
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 0.4;
}
.textSakuna{
  opacity: 1;
  z-index: 10;
  position: relative;
}

.besto{
  padding: 30px;
}

a{
  color: white;
}