html{
    text-align: center;
}
body{
    
    margin-left: 10em;
    margin-right: 10em;
    background-color: pink;
}
h1{
    position: relative;
    font-size: 300%;
}
h2{
    font-size: 250%;
}
h3{
    font-size: 180%;
}
.btnRekniRock{
    position: relative;
    /*top: 10%;
    left: 10%;*/
    font-size: 33px;
}
.textik{
    display: inline;
}
#times{
    display: inline;}
.playTime{
    position:absolute;
     bottom:0;
     right:0;
     margin: 30px 30px;
}
button{
    color: #fff;
    background-color: #00A0C6;
    border: 0;
}
button:active{
    background-color: rgb(82, 82, 82);
}
#player{
    display: inline;
}
.cookieButton{
    left: 10%;
    top: 20%;
    position: absolute;
    font-weight: bold;
    height: 300px;
    width: 300px;
    background: url("./ref/cookieRef150px.png");
}
.cursorButton{
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    height: 100px;
    margin-top: 20px;
    width: 100px;
    background: url("./ref/cursorRef100px.png");
}
.bakerButton{
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    height: 100px;
    margin-top: 20px;
    width: 100px;
    background: url("./ref/bakerRef100px_v2.png");
}
.factButton{
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    height: 100px;
    width: 100px;
    margin-top: 20px;
    background: url("./ref/factoryRef100px.png");
}
.buttons{
    right: 10%;
    top: 20%;
    position: absolute;
}
.cursorText{
    /*position: absolute;
    right: 4px;
    left: 4px;
    top: 4px;*/
    text-align: center;
}
.cursorButton:hover{
    background-color: rgb(82, 82, 82);
}
.bakerText{
    /*position: absolute;
    top: 35%;
    right: 4px;
    left: 4px;
    text-align: center;*/
    text-align: center;
}
.bakerButton:hover{
    background-color: rgb(82, 82, 82);
}
.factoryText{
   /* position: absolute;
    right: 4px;
    left: 4px;
    text-align: center;
    top: 250px;
    background-color: black;*/
    text-align: center;
}
.factButton:hover{
    background-color: rgb(82, 82, 82);
    
}